<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hiếu</title>
    <link rel="stylesheet" href="../css/home.css" />
    "
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(() => {
        $("#navContainer").load("./navigation.html");
        $("#footerContainer").load("./footer.html");
      });
    </script>
    <link rel="stylesheet" href="../css/navStyle.css" />
    <link rel="stylesheet" href="../css/FooterStyle.css" />
    <!-- link font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- kits use for icon -->
    <script
      src="https://kit.fontawesome.com/1ecb12ccc1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="navContainer"></div>
    <div class="content">
      <h4 class="welcome">
        Chào mừng các bạn đến với thế giới Tin học lớp 6 - Nơi khám phá công
        nghệ trở nên thú vị hơn bao giờ hết! <br /><br />
        Giới thiệu
      </h4>
      <br />

      <p class="des1">
        Bạn đã sẵn sàng bước vào hành trình khám phá thế giới công nghệ đầy kỳ
        diệu chưa? Tại đây, chúng mình sẽ cùng nhau học cách sử dụng máy tính,
        khám phá các phần mềm thú vị và làm quen với những điều mới lạ trong thế
        giới số! Với mỗi bài học, bạn sẽ không chỉ hiểu rõ hơn về máy tính mà
        còn phát triển khả năng tư duy logic, sáng tạo để giải quyết mọi vấn đề.
      </p>

      <p class="des2">
        Trang web này sẽ là "người bạn đồng hành" đáng tin cậy, luôn ở bên bạn
        với những bài học hấp dẫn, các trò chơi tương tác vui nhộn, và vô vàn
        câu đố thử thách trí tuệ. Bạn còn có thể kiểm tra kiến thức của mình qua
        những bài tập vui nhộn sau mỗi buổi học!
      </p>

      <p class="des3">
        Hãy cùng bắt đầu hành trình học tập vui vẻ, thú vị và đầy bổ ích nhé!
        Chắc chắn bạn sẽ ngày càng tự tin hơn trong việc làm chủ công nghệ và
        khám phá thế giới xung quanh!
      </p>
      <img src="../images/image.png" alt="" class="img1" />
    </div>
    <div id="footerContainer"></div>
  </body>
</html>
