<div class="nav">
    <div id="nav__logo">
        <a href="./Home.html" class="nav__logo--link">Hỗ trợ môn tin học lớp 6</a>
    </div>
    <div id="nav__center">
        <ul class="nav__center__content">
            <li>
                <a href="./home.html ">Trang chủ</a>
            </li>
            <li>
                <a href="./home.html">Bài học</a>
            </li>
            <li><a href="./home.html">Bài tập</a></li>
            <li><a href="./home.html">Tranh tài</a></li>
            <li>
                <div class="search">
                    <input id="search" type="text" placeholder="Tìm kiếm ..." />
                    <i class="fas fa-search"></i>
                </div>
            </li>
        </ul>
    </div>
    <div id="nav__login">
        <a href="./login.html">Đăng nhập</a>
    </div>
</div>