<div class="navbar">
  <div class="nav-item">
    <h3>Chủ đề 1: Máy tính và cộng đồng</h3>
    <a href="#1">Bài 1: Thông tin và dữ liệu</a>
    <a href="#2">Bài 2: Xử lý thông tin</a>
    <a href="#3">Bài 3: Thông tin trong máy tính</a>
  </div>
  <div class="nav-item">
    <h3>Chủ đề 2: Mạng máy tính và internet</h3>
    <a href="#4">Bài 4: Mạng máy tính</a>
    <a href="#5">Bài 5: Internet</a>
  </div>
  <div class="nav-item">
    <h3>Chủ đề 3: Tổ chức lưu trữ, tìm kiếm và trao đổi thông tin</h3>
    <a href="#6">Bài 6: Mạng thông tin toàn cầu</a>
    <a href="#7">Bài 7: Tìm kiếm thông tin trên Internet</a>
    <a href="#8">Bài 8: Thư điện tử</a>
  </div>
  <div class="nav-item">
    <h3>Chủ đề 4: Đạo đức, pháp luật và văn hóa trong môi trường số</h3>
    <a href="#9">Bài 9: An toàn thông tin trên mạng</a>
  </div>
  <div class="nav-item">
    <h3>Chủ đề 5: Ứng dụng tin học</h3>
    <a href="#10">Bài 10: Sơ đồ tư duy</a>
    <a href="#11">Bài 11: Định dạng văn bản</a>
    <a href="#12">Bài 12: Trình bày thông tin ở dạng bảng</a>
    <a href="#13">Bài 13: Thực hành: Tìm kiếm và thay thế</a>
    <a href="#14">Bài 14: Thực hành tổng hợp: Hoàn thiện Sổ lưu niệm</a>
  </div>
  <div class="nav-item">
    <h3>Chủ đề 6: Giải quyết vấn đề với sự trợ giúp của máy tính</h3>
    <a href="#15">Bài 15: Thuật toán</a>
    <a href="#16">Bài 16: Cấu trúc điều khiển</a>
    <a href="#17">Bài 17: Chương trình máy tính</a>
  </div>
</div>
