<body>
    <h2 id="topic">Chủ đề 5: Ứng dụng tin học</h2><br>
    <h3 id="unit">Bài 11: Định dạng văn bản</h3>
    <h4 id="title1">1.	Phần mềm soạn thảo văn bản </h4>
    
    <p>- Phần mềm soạn thảo văn bản có thể được cài đặt trên máy tính hoặc chạy trực tuyên trên Internet,... Có nhiều loại phần mềm soạn thảo văn bản khác nhau, chúng đều có các chức năng cơ bản sau đây: </p>
    <ul>
        <li>+ Tạo và định dạng văn bản. </li>
        <li>+ Biên tập, chỉnh sửa nội dung. </li>
        <li>+ Lưu trữ văn bản. </li>
        <li>+ In văn bản. </li>
    </ul>
    <p>Để nâng cao hiệu quả sử dụng, phần mềm Soạn thảo còn có một số chức năng nâng cao khác: </p>
    <ul>
        <li>+ Xem lại và theo dõi sự thay đổi của tài liệu.</li>
        <li>+ Lưu trữ tài liệu trên đám mây để có thể đồng bộ và lấy tài liệu từ máy tính, điện thoại di động hay máy tính bảng. </li>
        <li>+ Làm việc cộng tác với người khác trên cùng một tài liệu mọi lúc mọi nơi. Với những chức năng này, chúng ta có thể sử dụng phần mềm soạn thảo văn bản để tạo ra các tài liệu khác nhau như cuốn sách, bài viết, báo cáo, bản tin, tờ rơi,... </li>
    </ul>
    <h4 id="title1">2.	Định dạng văn bản và in </h4>
    <p>Ở cấp Tiểu học, chúng ta đã học cách tạo văn bản chứa chữ và định dạng kí tự. Để văn bản được trình bày đẹp, dễ đọc, dễ nhớ thì ngoài việc định dạng kí tự, chúng ta cần định dạng đoạn và định dạng trong văn bản. </p>
    <h4 id="title1">a.	Định dạng đoạn văn bản </h4>
    <p>Trong phần mềm soạn thảo văn bản, đoạn là phần văn bản thường được phân cách bởi dấu ngắt đoạn. Dấu ngắt đoạn xuất hiện khi chúng ta nhấn phím Enter. Việc định dạng giúp chúng ta thay đổi cách trình bày của đoạn trong văn bản. Ví dụ: tăng, giảm lề của đoạn, căn chỉnh lề, đặt khoảng cách giữa các dòng trong đoạn,... Các lệnh định dạng đoạn nằm trong thẻ Home, ở nhóm lệnh Paragraph</p>
    <img src="../images/image19.png" alt="" class="img1">
    <img src="../images/image20.png" alt="" class="img1">
    <h4 id="title1">b.	Định dạng trong văn bản </h4>
    <p>- Mỗi cuốn sách có hình dạng và kích thước khác nhau phụ thuộc vào việc định dạng trang | văn bản. Để văn bản đẹp và có bố cục hài hoà, em cần định dạng trong văn bản. </p>
    <p>Các lệnh định dạng trong văn bản nằm trong thẻ Page Layout, ở nhóm lệnh Page Setup.  Các yêu cầu cơ bản khi trình bày trang văn bản gồm: </p>
    <ul>
        <li>+ Chọn hướng trang (Orientation): trang đứng (Portrait) hay trang ngang (Landscape). </li>
        <li>+ Đặt lề trang (Margins): lề trái (Left), lề phải (Right), lề trên (Top) và lề dưới (Bottom). </li>
        <li>+ Lựa chọn khổ giấy (Size): khổ giấy phổ biến là khổ A4. </li>
        <img src="../images/image21.png" alt="" class="img1">
    </ul>
    <h4 id="title1">c.	In văn bản </h4>
    <p>- Sau khi hoàn thành việc tạo văn bản, em có thể in văn bản ra giấy. Để thực hiện công việc này, trong thẻ File, em chọn lệnh Print. </p>
    <img src="../images/image22.png" alt="" class="img1">
    <h4 id="title1">3.	Thực hành: <span class="text-italic">Định dạng văn bản </span></h4>
    <p><span style="font-weight: 700;">Nhiệm vụ:</span> Cuốn sổ lưu niệm của lớp chứa những bài viết cảm nghĩ về bạn bè, thầy cô và mái trường. Hình 5.8 là bài viết Cảm nghĩ về nhóm bạn thân lớp 6A của bạn An. Em hãy tham khảo bài viết này để soạn một bài viết cảm nghĩ của em trên phần mềm soạn thảo văn bản. Bài viết của em sẽ là một trang trong cuốn sổ lưu niệm của lớp. </p>
    <p>Một số công việc em cần làm: </p>
    <ul>
        <li>- Nhập nội dung văn bản, chèn hình ảnh. </li>
        <li>- Căn lề các đoạn văn bản. </li>
        <li>- Chọn hướng trang, chọn lề trang. </li>
        <li>- Xem trang tin để điều chỉnh lại việc căn lề đoạn và căn lề trang (nếu cần). </li>
        <li>- Lưu tệp văn bản.</li>
        <img src="../images/image23.png" alt="" class="img1">
    </ul>
    <h4 class="text-italic">Hướng dẫn: </h4>
    <h4 class="text-italic">a&#41; Khởi động phần mềm và nhập nội dung</h4>
    <ul>
        <li>- Nháy đúp chuột vào biểu tượng phần mềm trên màn hình nền. </li>
        <li>- Nhập nội dung văn bản. </li>
        <li>- Chọn Insert/Picture để mở hộp thoại Insert Picture và chèn ảnh. </li>
    </ul>
    <h4 class="text-italic">b&#41; Căn lề đoạn văn bản </h4>
    <p>Trong bài viết của An, phần tiêu đề, hình ảnh và giới thiệu tên của An được căn lề giữa, phần văn bản còn lại được căn đều hai bên. Để thực hiện căn lề, em làm như sau: </p>
    <ul>
        <li>- Chọn dòng tiêu đề Cảm nghĩ về nhóm bạn thân lớp 6A, hình ảnh và dòng Tớ là An. </li>
        <li>- Nháy chuột vào thẻ Home và chọn căn lề giữa. </li>
        <li>- Ta có kết quả như sau: </li>
    </ul>
    <img src="../images/image24.png" alt="" class="img1">
    <p>- Thực hiện tương tự để căn lề cho các đoạn văn trong bài viết. </p>
    <h4 class="text-italic">c&#41; Chọn hướng trang, lề trang </h4>
    <p>- Giả sử em muốn chọn hướng trang bài viết Cảm nghĩ về nhóm bạn thân lớp 6A của bạnên là hướng đứng (Portrait), mẫu đặt lề trang là Normal, khi đó em thực hiện theo các bước sau: </p>
    <p>- Chọn hướng trang (Orientation) </p>
    <img src="../images/image25.png" alt="" class="img1">
    <p>- Chọn lề trang (Margins) </p>
    <img src="../images/image26.png" alt="" class="img1">
    <h4 class="text-italic">d&#41; Lưu tệp </h4>
    <p>- Chọn File/Save để lưu tệp văn bản với tên là CamNghiVeBan.docx.</p>
</body>