<body>
    <h2 id="topic">Chủ đề 2: Mạng máy tính và internet</h2><br>
    <h3 id="unit">Bài 5: Internet</h3>
    <h4 id="title1">1.	Mạng máy tính là gì?</h5>
    <img src="../images/image7.png" alt="" class="img1">

    <p>- Các tổ chức và cá nhân trên khắp thế giới có thể cung cấp và tiếp nhận thông tin bằng cách kết nối máy tính của họ thành một mạng. Internet là một mạng toàn cầu được tạo ra để liên kết những mạng máy tính như thế. </p>
    <p>- Muốn truy cập Internet thì máy tính của người sử dụng cần có kết nối với Internet. Người sử dụng cần đăng kí với nhà cung cấp dịch vụ Internet (Internet Service Provider - ISP) để được hỗ trợ cài đặt và cấp quyền truy cập Internet. </p>
    <p>- Người sử dụng truy cập Internet để tìm kiếm, chia sẻ và trao đổi thông tin. </p>
    <p>- Các dịch vụ thông tin phổ biến trên Internet gồm: mạng thông tin toàn cầu (W W), tìm kiếm, thư điện tử, điện thoại, phát thanh, truyền hình, mạng xã hội, lưu trữ, trao đổi dữ liệu, kinh doanh,... </p>
    <p><span class="text-italic">- Như vậy: </span></p>
    <ul>
        <li>+ Internet là mạng liên kết các mạng máy tính trên khắp thế giới. </li>
        <li>+ Máy tính có thể được kết nối với Internet thông qua một nhà cung cấp dịch vụ Internet. </li>
        <li>+ Người sử dụng truy cập Internet để tìm kiếm, chia sẻ, lưu trữ và trao đổi thông tin. </li>
        <li>+ Có nhiều dịch vụ thông tin khác nhau trên Internet: WWW, tìm kiếm, thư điện tử,... </li>
    </ul>

    
    <h4 id="title1">2.	Đặc điểm của Internet. Internet có các đặc điểm chính sau: </h5>
    <p><span class="notice">- Tính toàn cầu: </span> Hiện nay có khoảng hơn một phần ba dân số trên thế giới ở hầu hết các quốc gia đang sử dụng Internet. </p>
    <p><span class="notice">- Tính tương tác: </span>Người sử dụng có thể tức thời nhận và gửi thông tin, khác Với cách truyền thông một chiều của sách báo, phát thanh, truyền hình truyền thông. </p>
    <p><span class="notice">- Tính dễ tiếp cận: </span> Người sử dụng có thể tìm kiếm, lưu trữ, trao đổi và chia sẻ thông tin một cách thuận lợi, nhanh chóng ở mọi lúc, mọi nơi trên thế giới. </p>
    <p><span class="notice">- Tính không chủ sở hữu: </span> Internet là một mạng máy tính công cộng toàn cầu, không thuộc sở hữu hay do bất kì một tổ chức hoặc cá nhân nào điều hành. </p>
    <p>Ngoài những đặc điểm chính kể trên, Internet còn có một số đặc điểm khác như: </p>
    <p><span class="notice text-italic">- Tính cập nhật: </span> Thông tin được cập nhật thường xuyên. </p>
    <p><span class="notice text-italic">- Tính lưu trữ: </span> Thông tin được lưu trữ thường trực, có thể sao chép nhanh và dễ dàng. </p>
    <p><span class="notice text-italic">- Tính đa dạng: </span> Truyền tải thông tin dạng văn bản, âm thanh, hình ảnh, video,... </p>
    <p><span class="notice text-italic">- Tính ẩn danh: </span> Người sử dụng truy cập Internet có thể dùng bí danh thay cho tên thật. </p>
    <h4 id="title1">3.	Một số lợi ích của Internet </h5>
    <img src="../images/image8.png" alt="" class="img1">
    <p class="text-italic">Lợi ích của Internet:</p>
    <ul>
        <li>- Trao đổi thông tin nhanh chóng, hiệu quả. </li>
        <li>- Học tập và làm việc trực tuyến. </li>
        <li>- Cung cấp nguồn tài liệu phong phú. </li>
        <li>- Cung cấp các tiện ích phục vụ đời sống. </li>
        <li>- Là phương tiện vui chơi, giải trí.</li>
    </ul>
    
</body>