<body>
    <h2 id="topic">Chủ đề 5: Ứng dụng tin học</h2><br>
    <h3 id="unit">Bài 14: Thực hành tổng hợp: Hoàn thiện Sổ lưu niệm</h3>
    <h4 id="title1">1.	Nhiệm vụ </h4>
    <p>Từ các kết quả thực hành trong chủ đề này, các nhóm &#41;từ 3 – 5 em hãy tập hợp và bổ sung thêm nội dung để hoàn thiện cuốn sổ lưu niệm của lớp. </p>
    <h4 id="title1">2.	Hướng dẫn </h4>
    <h4 class="text-italic">* Bước 1. Tập hợp các nội dung đã có </h4>
    <p>- Trong các bài học trước, các em đã tạo các tệp văn bản chứa nội dung cuốn sổ lưu niệm của lớp như: bài viết cảm nghĩ, danh sách thành viên,... Các em hãy tập hợp các nội dung đó vào một tệp văn bản có tên Soluuniem.docx. </p>
    <img src="../images/image34.png" alt="" class="img1">
    <h4 class="text-italic">* Bước 2. Bổ sung thêm nội dung </h4>
    <p>- Xem lại sơ đồ tư duy trình bày nội dung cuốn sổ lưu niệm các em đã tạo ở Bài 10 để rà soát lại nội dung xem đã đầy đủ chưa. Phân công các bạn trong nhóm thu thập thông tin, hình ảnh để bổ sung, đặc biệt là thông tin về các thầy cô giáo, các hoạt động mà lớp đã thực hiện như: hoạt động thể thao, văn hoá, văn nghệ, tham quan,... </p>
    <p>- Soạn thảo các nội dung bổ sung. Chú ý thực hiện các thao tác định dạng để văn bản được trình bày cô đọng với bố cục hợp lí và đẹp mắt: </p>
    <ul>
        <li>+ Định dạng chữ (màu sắc, cỡ chữ,...). </li>
        <li>+ Căn chỉnh lề đoạn văn bản. </li>
        <li>+ Định dạng hướng trang, lề trang. </li>
        <li>+ Bổ sung hình ảnh. </li>
        <li>+ Chèn bảng (nếu cần). </li>
        <li>+ Sử dụng chức năng Tìm kiếm và Thay thế để chỉnh sửa văn bản (nếu cần). </li>
    </ul>
    <h4 class="text-italic">* Bước 3. Tạo trang bìa cho cuốn sổ </h4>
    <p>Để tạo trang bìa cho cuốn sổ lưu niệm, em thực hiện theo các bước sau: </p>
    <img src="../images/image35.png" alt="" class="img1">
    <h4 class="text-italic">* Bước 4. Xem lại nội dung </h4>
    <p>Hãy tưởng tượng các em đã là người lớn. Cả lớp gặp lại nhau trong một lần họp lớp ở tương lai 50 năm sau. Hãy cùng xem lại cuốn sổ lưu niệm và nghĩ về câu hỏi “Tại sao chúng ta lại đưa nội dung này vào SỔ?”. Các nhóm hãy chia sẻ với cả lớp sản phẩm của mình và cả lớp cùng thảo luận để cuốn sổ lưu niệm chung của cả lớp có nội dung đầy đủ và trình bày đẹp nhất. </p>
    <img src="../images/image36.png" alt="" class="img1">
</body>