<body>
    <h2 id="topic">Chủ đề 2: Mạng máy tính và internet</h2><br>
    <h3 id="unit">Bài 4: Mạng máy tính</h3>
    <h4 id="title1">1.	Mạng máy tính là gì?</h5>
    <p>Không chỉ đường bộ mà nhiều loại đường khác cũng được nối thành mạng lưới như mạng đường sắt, mạng lưới đường thủy, mạng ống nước, mạng tải điện, mạng điện thoại...Đặc điểm chung của các mạng lưới là:</p>
    <p><span class="notice">- Kết nối:</span> Nếu một đoạn đường bị sạt lở thì giao thông sẽ bị ngưng trệ. Điều đó, mạng đường có nghĩa là mạng sẽ chỉ hoạt động nếu mạng được kết nối. </p>
    <p><span class="notice">- Chia sẻ:</span> Đường giúp em đi đến trường, đường cũng giúp các bạn khác đến trường. Điều đó có nghĩa là mạng chia sẻ tài nguyên cho nhiều người. </p>
    <p>- Hai hay nhiều máy tính và các thiết bị được kết nối để truyền thông tin cho nhau tạo thành một mạng máy tính. </p>
    <p>- Lợi ích của mạng máy tính: Người sử dụng có thể liên lạc với nhau để trao đổi thông tin, chia sẻ dữ liệu và dùng chung các thiết bị trên mạng. </p>

    
    <h4 id="title1">2. Các thành phần của mạng máy tính</h5>
    <img src="../images/image6.png" alt="" class="img1">
    
    <p>Một mạng máy tính thường gồm những thành phần chủ yếu sau: </p>
    <p>• <span class="notice">Các thiết bị đầu cuối</span> giống như điểm xuất phát hoặc đích đến trong mạng giao thông. Các thiết bị đầu cuối có thể là máy tính để bàn, máy tính xách tay, điện thoại thông minh, máy ảnh, máy in, máy quét,... </p>
    <p>• <span class="notice">Các thiết bị kết nối</span> được dùng để nối các thiết bị đầu cuối lại với nhau giống như con đường, nhà ga, sân bay,... Các thiết bị này bao gồm đường truyền (có dây và không dây), bộ chia (Hub), bộ chuyển mạch (Switch), bộ định tuyến (Router), bộ định tuyến không dây (Access Point, Wifi Router)... </p>
    <p>• Phần mềm mạng có vai trò như hệ thống duy trì luật lệ giao thông để các phương tiện có thể đi đến nơi cần đến. Phần mềm mạng gồm ứng dụng truyền thông trên các thiết bị đầu cuối và phần mềm điều khiển quá trình truyền dữ liệu trên các thiết bị kết nối.</p>
</body>