<body>
    <h2 id="topic">Chủ đề 1: Máy tính và cộng đồng</h2><br>
    <h3 id="unit">Bài 3: Thông tin trong máy tính</h3>
    <h4 id="title1">1. Thông tin và dữ liệu</h5>
    <h5 class="title1-smaller">a. Biểu diễn số </h5>
    <ul>
        <li>- Với dãy số dài gấp đôi thì mỗi số sẽ được chuyển thành dãy có 4 kí hiệu 0 và 1. </li>
        <li>- Mỗi dãy các kí hiệu 0 và 1 như vậy được gọi là dãy bit. Kí hiệu là một bit. </li>
        <li>- Người ta có thể chuyển một số bất kì thành một dãy bit bằng cách tương tự như đã thực hiện ở trên. </li>
    </ul>

    <h4 class="title1-smaller">b. Biểu diễn văn bản </h5>
    <ul>
        <li>- Văn bản gồm các chữ cái (cả chữ hoa và chữ thường), các chữ số, dấu câu, kí hiệu, ... được gọi chung là các kí tự. </li>
        <li>- Văn bản được chuyển thành dãy bit bằng cách chuyển từng kí tự một. </li>
        <li>- Chuyển từ “DA CA” thành dãy bit như sau: </li>
        <ul>
            <li>+ Dãy bit biểu diễn của kí tự D -01000100 </li>
            <li>+ Dãy bit biểu diễn của kí tự A - 01000001 </li>
            <li>+ Dãy bit biểu diễn của kí tự C - 01000011 </li>
            <li>+ Dãy bit biểu diễn của kí tự A - 01000001 </li>
        </ul>
    </ul>
    
    <h5 class="title1-smaller">c. Biểu diễn hình ảnh</h5>
    <img src="../images/image3.png" alt="" class="img1">
    <h5 class="title1-smaller">d. Biểu diễn âm thanh</h5>
    <img src="../images/image4.png" alt="" class="img1">

    
    <h4 id="title1"> 2. Đơn vị đo thông tin</h5>
    <p>- Một số đơn vị cơ bản đo dung lượng thông tin:</p>
    <img src="../images/image5.png" alt="" class="img1">
    <p>- Khả năng lưu trữ của các thiết bị nhớ thông dụng:</p>
    <ul>
        <li>+ Bộ nhớ trong: 2 GB đến 16 GB. </li>
        <li>+ Bộ nhớ ngoài:  </li>
        <ul>
            <li>•	Đĩa quang compact: 700MB </li>
            <li>•	Đĩa quang kĩ thuật số: 4,7 GB đến 17GB. </li>
            <li>•	Ổ đĩa cứng: vài trăm GB đến vài TB </li>
            <li>•	Thẻ nhớ: hàng trăm GB hoặc cao hơn.</li>
        </ul>
    </ul>
</body>