<body>
    <h2 id="topic">Chủ đề 5: Ứng dụng tin học</h2><br>
    <h3 id="unit">Bài 10: Sơ đồ tư duy  </h3>
    <h4 id="title1">1.	Sơ đồ tư duy </h4>
    <img src="../images/image15.png" alt="" class="img1">
    <p>- Để ghi lại thông tin về một chủ đề nào đó, chúng ta có rất nhiều cách, ví dụ như: liệt kê bằng văn bản, dùng bảng biểu, dùng sơ đồ,...Một trong các cách đó là dùng sơ đồ tư duy. </p>
    <p>- Sơ đồ tư duy là phương pháp trình bày thông tin một cách trực quan bằng cách sử dụng văn bản, hình ảnh và các đường nối. </p>
    <p>- Sơ đồ tư duy tận dụng tối đa khả năng ghi nhận hình ảnh của bộ não, giúp chúng ta dễ dàng ghi nhớ chi tiết, tổng hợp hay phân tích vấn đề. </p>
    <h4 id="title1">2.	Cách tạo sơ đồ tư duy </h4>
    <p>Để tạo sơ đồ tư duy, em có thể vẽ thủ công hoặc sử dụng phần mềm trên máy tính. Dù thực hiện theo cách nào thì việc tạo Sơ đồ tư duy cũng thực hiện theo các bước sau đây: </p>
    <p>- Viết chủ đề chính ở giữa tờ giấy. Dùng hình chữ nhật, elip hay bất cứ hình gì em muốn bao xung quanh chủ đề chính. </p>
    <p>- Từ chủ đề chính, vẽ các chủ đề nhánh. </p>
    <p>- Phát triển thông tin chi tiết cho mỗi chủ đề nhánh, lưu ý sử dụng từ khoá hoặc hình ảnh. </p>
    <p>- Có thể tạo thêm nhánh con khi bổ sung thông tin vì sơ đồ tư duy có thể mở rộng về mọi phía. </p>
    <p style="text-align: center;"><span class="notice text-italic">Nên sử dụng màu sắc khi tạo sơ đồ tư duy vi màu sắc có tác dụng kích thích não bộ.</span></p>
    
    <h4 id="title1">3.	Thực hành: <span class="text-italic">Tạo sơ đồ tư duy bằng phần mềm máy tính</span> </h4>
    <p>Có nhiều cách giúp chúng ta tạo Sơ đồ tư duy trên máy tính như sử dụng các công cụ chènhình khối, sơ đồ trong phần mềm soạn thảo văn bản, công cụ vẽ hình trong các phần mềm xử lí ảnh,... </p>
    <p>Tuy nhiên, có nhiều phần mềm chuyên dùng cho việc tạo sơ đồ tư duy như: MindMaple Lite, FreeMind, iMindMap, Mindmaple, Mind Manager,... Các phần mềm này cho phép chúng ta tạo sơ đồ tư duy dễ dàng, chính xác và nhanh chóng. </p>
    <p><span style="font-weight: 700;">Nhiệm vụ:</span> Sử dụng phần mềm sơ đồ tư duy để tạo sơ đồ tư duy ghi lại các nội dung có trong cuốn sổ lưu niệm của lớp đã được hoàn thành ở Hoạt động 3. </p>
    <h4 id="title1"><span class="text-italic">Hướng dẫn: </span></h4>
    <h4 id="title1">a&#41; Khởi động phần mềm </h4>
    <p>- Sau khi khởi động, giao diện phần mềm được mở ra như hình sau: </p>
    <img src="../images/image16.png" alt="" class="img1">
    <h4 id="title1">b&#41;Tạo sơ đồ tư duy</h4> 
    <p>- Thực hiện các bước tạo Sơ đồ tư duy theo hướng dẫn trong hình sau: </p>
    <img src="../images/image17.png" alt="" class="img1">
    <p>- Sơ đồ tư duy được tạo ra với chủ đề chính là một khung Central Topic . Nháy chuột vào khung để nhập tên chủ đề chính SỐ LƯU NIỆM LỚP BA .</p>
    <h4 id="title1" class="text-italic">c&#41; Tạo các chủ đề nhánh</h4>
    <img src="../images/image18.png" alt="" class="img1">
</body>