<body>
    <h2 id="topic">Chủ đề 3: Tổ chức lưu trữ, tìm kiếm và trao đổi thông tin</h2><br>
    <h3 id="unit">Bài 6: Mạng thông tin toàn cầu</h3>
    <h4 id="title1">1.	Tổ chức thông tin trên Internet</h5>
        
    <h4 id="title1" class="text-italic">Kho thông tin khổng lồ trên Internet được tạo nên từ nhiều trang web. </h4>
    <p>- Trang siêu văn bản là trang văn bản đặc biệt, tích hợp nhiều dạng dữ liệu khác nhau như văn bản, hình ảnh, âm thanh, video,... và các liên kết trỏ đến vị trí khác trong trang hay các trang web khác. </p>
    <p>- Mỗi trang web là một trang siêu văn bản được gán cho một địa chỉ. </p>
    <img src="../images/image9.png" alt="" class="img1">
    <p>- Mỗi website là tập hợp các trang web liên quan và được truy cập thông qua một địa chỉ. </p>
    <p>- Mỗi website do một người hoặc một tổ chức quản lí. Trang chủ (homepage) của website là trang được mở ra đầu tiên khi truy cập website đó. Địa chỉ của trang chủ chính là địa chỉ của website. </p>
    <p>- Hệ thống các website trên Internet tạo thành Mạng thông tin toàn cầu (World Wide Web, viết tắt là WWW). </p>
    <p><span class="notice text-italic">Ví dụ: </span></p>
    <p>- http://thieunien.vn là địa chỉ của website báo Thiếu niên Tiền phong. </p>
    <p>- https://vi.wikipedia.org là địa chỉ trang chủ của website Bách khoa toàn thư mở tiếng Việt. </p>
    <p>- https://vi.wikipedia.org/wiki/Internet là địa chỉ của trang web về Internet trong website Bách khoa toàn thư mở tiếng Việt. </p>

    <p><span class="notice text-italic">→ Thông tin trên Internet được tạo nên từ nhiều trang web kết nối với nhau bởi các liên kết. Mỗi trang web có địa chỉ truy cập riêng. </span></p>
    <p><span class="notice text-italic">→ Website là một tập hợp các trang web liên quan được truy cập thông qua một địa chỉ. Địa chỉ của trang chủ là địa chỉ của website. </span></p>
    <p><span class="notice text-italic">→ World Wide Web (W ) là mạng thông tin toàn cầu, liên kết các website trên Internet. </span></p>
    
    <h4 id="title1">2. Trình duyệt </h5>
    <p>- Người sử dụng muốn truy cập các website thì cần phải sử dụng một phần mềm ứng dụng được gọi là trình duyệt (web browser). </p>
    <p>- Một số trình duyệt được dùng phổ biến là Mozilla Firefox, Google Chrome, Safari, Cốc Cốc, Microsoft Edge,... </p>
    <p>- Các trình duyệt có các chức năng chính và cách sử dụng tương tự nhau. Người sử dụng có thể cài đặt và sử dụng nhiều trình duyệt trên một máy tính. </p>
    <p>- Để truy cập một trang web, ta có thể nhập địa chỉ của trang đó vào thanh địa chỉ của trình duyệt. </p>
    <p>- Trang web có chứa các liên kết chỉ dẫn tới các trang web khác. Nháy chuột vào liên kết để chuyển tới trang web được xác định bởi liên kết đó. Hoạt động di chuyển theo các liên kết được gọi là duyệt web. Quá trình này cho phép người sử dụng xem các trang web để lấy thông tin. </p>

    <p><span class="notice text-italic">→ Trình duyệt là phần mềm giúp người dùng truy cập các trang web trên Internet. </span></p>
    <p><span class="notice text-italic">→ Người sử dụng có thể theo các liên kết để khai thác thông tin từ các trang web. </span></p>
    
</body>