<body>
    <h2 id="topic">Chủ đề 3: Tổ chức lưu trữ, tìm kiếm và trao đổi thông tin</h2><br>
    <h3 id="unit">Bài 8: Thư điện tử</h3>
    <h4 id="title1">1.	Thư điện tử, tài khoản thư điện tử </h4>
    
    <p>- Thư điện tử (email hay e-mail) là thư được gửi và nhận bằng phương tiện điện tử trên mạng máy tính. Thư điện tử là một trong những hình thức trao đổi thông tin được rất nhiều người sử dụng. </p>
    <p>- Dịch vụ thư điện tử là dịch vụ cung cấp các chức năng soạn thảo, gửi, nhận, chuyển tiếp, lưu trữ và quản lí thư điện tử cho người sử dụng. </p>
    <p>- Người sử dụng đăng kí với nhà cung cấp dịch vụ thư điện tử để mở tài khoản thư điện tử. Người sử dụng có thể dùng dịch vụ thư điện tử trả phí hoặc miễn phí. Một Số nhà cung cấp dịch vụ thư điện tử miễn phí: Google, Yahoo, Microsoft,... </p>
    <p>- Khi có tài khoản thư điện tử, người sử dụng sẽ được cấp một hộp thư điện tử trên máy chủ thư điện tử cùng tên đăng nhập và mật khẩu. Hộp thư được gắn với một địa chỉ thư điện tử. </p>
    <p>- Địa chỉ thư điện tử có dạng: </p> 
    <img src="../images/image13.png" alt="" class="img1">
    <p><span class="notice text-italic">→ Thư điện tử là thư được gửi và nhận bằng phương tiện điện tử.</span></p>
    <p><span class="notice text-italic">→ Khi đăng kí tài khoản thư điện tử, người sử dụng có một hộp thư điện tử cùng địa chỉ thư và mật khẩu. </span></p>
    <p><span class="notice text-italic">→ Địa chỉ thư điện tử có dạng: &lt;...&gt;@&lt;địa chỉ máy chủ thư điện tử&gt;.</span></p>
    <p><span class="notice text-italic">→ Dịch vụ thư điện tử cung cấp các chức năng để soạn, gửi, nhận, chuyển tiếp, lưu trữ và quản lí thư điện tử cho người sử dụng.</span></p>
    <h4 id="title1">2.	Ưu nhược điểm của dịch vụ thư điện tử </h4>
    <p>Từ khi ra đời, dịch vụ thư điện tử được nhiều cá nhân và các tổ chức sử dụng. So với các phương thức liên lạc khác, dịch vụ này có nhiều ưu điểm và cũng có một số nhược điểm. </p>
    <ul>
        <li><h4 class="text-italic">- Ưu điểm: </h4></li>
        <ul>
            <li>+ Thời gian gửi và nhận nhanh, kịp thời. </li>
            <li>+ Có thể gửi thư cùng lúc cho nhiều người. </li>
            <li>+ Có thể gửi kèm được các tệp thông tin khác nhau như văn bản, âm thanh, hình ảnh,... </li>
            <li>+ Lưu trữ và tìm kiếm các thư đã gửi hoặc nhận một cách dễ dàng. </li>
            <li>+ Chi phí thấp, có nhiều dịch vụ thư điện tử miễn phí. </li>
        </ul>
        <li><h4 class="text-italic">- Nhược điểm: </h4></li>
        <ul>
            <li>+ Phải kết nối mạng mới sử dụng được </li>
            <li>+ Có thể kèm theo virus máy tính. </li>
            <li>+ Có thể bị làm phiền với các thư rác. </li>
            <li>+ Có thể bị lừa đảo bởi các thư giả mạo. </li>
        </ul>
    </ul>
    <h4 id="title1">3.	Thực hành: <span class="text-italic">Đăng kí tài khoản, đăng nhập, đăng xuất và gửi thư điện tử </span></h4>
    <p>Hiện nay có nhiều website cung cấp miễn phí dịch vụ thư điện tử cho người sử dụng. Các thao tác cần thực hiện để tạo tài khoản và sử dụng hộp thư trên các website là tương tự nhau. </p>
    <p><span style="font-weight: 700;" class="text-italic">Nhiệm vụ: </span> Tạo một tài khoản thư điện tử mới trên website mail.google.com (hay gmail.com). Đăng nhập hộp thư, xem nội dung, soạn thư mới và gửi thư. </p>
    <h4 class="text-italic">Hướng dẫn: </h4>
    <ul>
        <li class="text-italic" style="font-weight: 700;">a&#41;	Tạo tài khoản thư điện tử Google </li>
        <ul>
            <li>a1. Truy cập trang mail.google.com. Tạo Tài khoản Google </li>
            <li>a2. Nháy chuột vào nút Tạo tài khoản. </li>
            <li>a3. Nhập đầy đủ thông tin vào các dòng trên của số theo hướng dẫn. </li>
            <li>a4. Nháy chuột vào nút Tiếp theo. </li>
            <li>a5. Xác nhận số điện thoại (nếu có). </li>
            <li>a6. Thực hiện theo hướng dẫn. </li>
            <li>a7. Cuối cùng xuất hiện thông báo Chào mừng bạn. </li>
        </ul>
        <li class="text-italic" style="font-weight: 700;">b&#41;	Đăng nhập hộp thư điện tử, xem nội dung thư, đăng xuất </li>
        <ul>
            <li>b1. Truy cập vào trang mail.google.com.</li>
            <li>b2. Đăng nhập vào hộp thư. </li>
            <li>b3. Hộp thư mở ra với danh sách các thư trong Hộp thư đến. </li>
            <li>b4. Nháy chuột vào Tên người gửi hoặc Tiêu đề thư để mở thư. </li>
            <li>b5. Nháy chuột vào nút Đăng xuất để ra khỏi hộp thư điện tử. </li>
        </ul>
        <li class="text-italic" style="font-weight: 700;">c&#41;	Soạn thư mới và gửi</li>
        <img src="../images/image14.png" alt="" class="img1">

    </ul>
</body>