<body>
    <h2 id="topic">Chủ đề 4: Đạo đức, pháp luật và văn hóa trong môi trường số</h2><br>
    <h3 id="unit">Bài 9: An toàn thông tin trên Internet</h3>
    <h4 id="title1">1.	Tác hại và nguy cơ khi sử dụng Internet </h4>
    <h4 id="title1" class="text-italic">Internet có thể là một công cụ tuyệt vời và hữu ích khi chúng ta biết cách sử dụng và khai thác nhưng cũng có thể có một số tác hại và nguy cơ như sau: </h4>

    <p>- Thông tin cá nhân bị lộ hoặc bị đánh cắp: </p>
    <ul>
        <li>+ Khi sử dụng Internet, nếu không biết cách bảo mật thì thông tin cá nhân có thể bị lộ hoặc bị kẻ xấu đánh cắp và lợi dụng. Kẻ xấu có thể dùng những thông tin đó để bôi nhọ danh dự, để dụ dỗ, lừa đảo, tống tiền, khống chế chính bản thân người sử dụng. </li>
    </ul>
    <p>- Máy tính bị nhiễm virus hay mã độc: Dữ liệu trên máy tính bị mất hoặc bị sai lệch. </p>
    <ul><li>+ Bị lừa đảo, dụ dỗ, đe doạ, bắt nạt trên mạng: Kẻ xấu lừa đảo, dụ dỗ trên mạng với nhiều mục đích khác nhau. Chẳng. hạn, có những kẻ dụ dỗ tiếp xúc với các nội dung khiêu dâm; kẻ muốn lôi kéo người khác vào con đường phạm tội thì cho xem nội dung bạo lực, ma tuý,... Có những trường hợp kẻ xấu dụ dỗ rồi đe doạ, bắt nạt nạn nhân khiến họ cảm thấy xấu hổ hoặc sợ hãi, ảnh hưởng đến sức khoẻ và tâm lí. </li></ul>
    <p>- Thông tin không chính xác: Thông tin trên mạng đến từ nhiều nguồn khác nhau, CÓ nhiều thông tin không được kiểm duyệt nên không chính xác. Có những kẻ lợi dụng mạng để đưa các tài liệu mang tính bạo lực, khuyến khích các hoạt động bất hợp pháp,... nhằm phục vụ cho lợi ích của chúng. Vì vậy chúng ta phải luôn cảnh giác và sáng suốt trong việc lựa chọn thông tin trên mạng. </p>
    <p>- Nghiện Internet, nghiện trò chơi trên mạng: Nhiều bạn trẻ bỏ rất nhiều thời gian vào mạng xã hội và chơi trò chơi trên mạng làm ảnh hưởng xấu đến tâm lí, sức khoẻ và hành vi dẫn đến bị căng thẳng, lo lắng, trầm cảm, bỏ bê việc học tập,... </p>
    <h4 class="notice">TÁC HẠI, NGUY CƠ KHI DÙNG INTERNET</h4>
    <ul>
        <li>- Thông tin cá nhân bị lộ hoặc bị đánh cắp. </li>
        <li>- Máy tính bị nhiễm virus hay mã độc. </li>
        <li>- Bị lừa đảo, dụ dỗ, đe doạ, bắt nạt trên mạng. </li>
        <li>- Tiếp nhận thông tin không chính xác. </li>
        <li>- Nghiện Internet, nghiện trò chơi trên mạng. </li>
    </ul>
    <h4 id="title1">2.	Một số quy tắc an toàn khi sử dụng Internet </h4>
    <p><span style="font-weight: 700;">- Giữ an toàn: </span>Bảo mật thông tin cá nhân và gia đình, không tiết lộ thông tin cá nhân trên mạng xã hội và cho người lạ. </p>
    <p><span style="font-weight: 700;">- Không gặp gỡ: </span>Không được một mình gặp gỡ người mà bạn chỉ quen biết qua mạng vì có thể bị nguy hiểm nếu gặp phải kẻ xấu. Đi cùng người lớn trong gia đình bạn nếu muốn gặp. </p>
    <p><span style="font-weight: 700;">- Đừng chấp nhận: </span>Chỉ mở thư điện tử và tin nhắn từ người mà bạn biết. Từ chối các lời mời vào hội nhóm trên mạng mà mình không biết. Cảnh giác với virus và tin nhắn rác.</p>
    <p><span style="font-weight: 700;">- Kiểm tra độ tin cậy: </span>Chỉ nên tìm kiếm thông tin từ các nguồn có sự kiểm duyệt hoặc các tổ chức, công ti có nguồn gốc và uy tín. Kiểm tra độ tin cậy của thông tin qua sự trợ giúp của người lớn trong nhà hoặc thầy cô giáo. </p>
    <p><span style="font-weight: 700;">- Hãy nói ra: </span>Khi gặp phải tình huống bị bắt nạt, đe dọa, lừa đảo hoặc dụ dỗ trên mạng, hãy chia sẻ với người tin cậy như thầy cô giáo, người lớn trong gia đình.</p>
    <h4 id="title1">3.	An toàn thông tin </h4>
    <h4 id="title1" class="text-italic">Một số biện pháp bảo vệ thông tin, tài khoản cá nhân và chia sẻ thông tin an toàn </h4>
    <ul>
        <li>- Cài đặt và cập nhật phần mềm chống virus. </li>
        <li>- Đặt mật khẩu mạnh. Bảo vệ mật khẩu. </li>
        <li>- Đăng xuất các tài khoản khi đã dùng xong. </li>
        <li>- Tránh dùng mạng công cộng. </li>
        <li>- Không truy cập vào các liên kết lạ, không mở thư điện tử và tệp đính kèm gửi từ những người không quen không kết bạn và nhắn tin cho người lạ. </li>
        <li>- Không chia sẻ thông tin cá nhân và những thông tin chưa được kiểm chứng trên Internet; không lan truyền tin giả làm tổn thương người khác.</li>
    </ul>
</body>