<body>
    <h2 id="topic">Chủ đề 6: Giải quyết vấn đề với sự trợ giúp của máy tính</h2><br>
    <h3 id="unit">Bài 17: Chương trình máy tính</h3>
    <h4 id="title1">1.	Chương trình máy tính </h4>
    <p>- Ngôn ngữ lập trình chính là ngôn ngữ được dùng để tạo ra chương trình chỉ dẫn cho máy tính hiểu cách thực hiện công việc. </p>
    <p>- Chương trình là tập hợp các lệnh viết bằng ngôn ngữ lập trình nào đó, chỉ dẫn theo từng bước của thuật toán để máy tính thực hiện. Nói cách khác, chương trình là một cách mô tả khác của thuật toán để máy tính có thể “hiểu” và thực hiện được. </p>
    <p>- Chương trình máy tính dựa trên các dữ liệu đầu vào, tiến hành các bước xử lí để trả lại kết quả đầu ra. </p>
    <p>- Scratch là ngôn ngữ lập trình trực quan em đã được học ở Tiểu học. </p>
    <p><span class="text-italic">Ví dụ</span> dưới đây là chương trình chỉ dẫn máy tính thực hiện công việc tính tổng hai số a và b bằng ngôn ngữ lập trình trực quan Scratch: </p>
    <img src="../images/image44.png" alt="" class="img1">
    <p><span class="notice text-italic">→ Máy tính thực hiện công việc theo chương trình. </span></p>
    <p><span class="notice text-italic">→ Chương trình là mô tả thuật toán để máy tính “hiểu” và thực hiện được. </span></p>
    <p><span class="notice text-italic">→ Chương trình dựa trên các dữ liệu đầu vào, tiến hành các bước xử lí để trả lại kết quả đầu ra. </span></p>
    <h4 id="title1">2.	Thực hành: Chương trình máy tính </h4>
    <p><span style="font-weight: 700;" class="text-italic">Nhiệm vụ: </span>Ba bạn An, Minh, Khoa đã làm những tấm thiệp chúc mừng ngày Nhà giáo Việt Nam để bán lấy tiền mua sách tặng các bạn học sinh vùng khó khăn. Gọi số tiền bản được là a, số tiền mua vật liệu là b, cần tính toán số tiền lãi thu được hoặc số tiền bị lỗ. Em hãy mô tả thuật toán giải quyết yêu cầu trên bằng sơ đồ khối và chương trình Scratch. </p>
    <p><span style="font-weight: 700;" class="text-italic">Hướng dẫn</span></p>

    <p><span style="font-weight: 700;" class="text-italic">a&#41; Xác định đầu vào, đầu ra của bài toán </span></p>
    <p>- Yêu cầu bài toán là tính số tiền lãi thu được hoặc số tiền lỗ. Để đơn giản bài toán, trong trường hợp tiền mua vật liệu bằng tiền bán được, ta coi như tiền lãi bằng 0. Như vậy, nếu số tiền bán được lớn hơn hoặc bằng tiền mua vật liệu thì tiền lãi = a = b, còn không thì tiền lỗ = b = a. </p>
    <ul>
        <li>+ <span class="text-italic">Đầu vào:</span> hai số a, b. </li>
        <li>+ <span class="text-italic">Đầu ra:</span> Số tiền lãi hoặc lỗ. </li>
    </ul>
    <p><span style="font-weight: 700;" class="text-italic">b&#41; Trình bày thuật toán bằng sơ đồ khối </span></p>
    <img src="../images/image45.png" alt="" class="img1">
    <p><span style="font-weight: 700;" class="text-italic">c&#41; Chương trình Scratch tính tiền lãi, lỗ của việc bán thiệp</span></p>
    <img src="../images/image46.png" alt="" class="img1">
</body>