<body>
    <h2 id="topic">Chủ đề 1: Máy tính và cộng đồng</h2><br>
    <h3 id="unit">Bài 1: Thông tin và dữ liệu</h3>
    <h5 id="title1">1. Thông tin và dữ liệu</h5>
    <p>     - Thông tin là những gì đem lại hiểu biết cho con người về thế giới xung quanh và về chính bản thân mình.
        <br>Ví dụ: Hành động khi nhìn thấy đèn tín hiệu,…</p>
    <p>     - Thông tin được ghi lên vật mang tin trở thành dữ liệu. Dữ liệu được thể hiện dưới dạng những con số, văn bản, hình ảnh và âm thanh.
        <br>Ví dụ: Màu sắc của đèn tín hiệu,…</p>
    <p>     - Vật mang tin là phương tiện được dùng để lưu trữ và truyền tải thông tin.
        <br>Ví dụ: Đèn tín hiệu là vật mang tin, giấy viết, thẻ CD, thẻ nhớ,…</p>
    <h4 class="notice">Lưu ý:</h4>
    <p>     - Thông tin là cái được chứa trong dữ liệu. Dữ liệu là cái được lưu trên các thiết bị lưu trữ.
        <br>    - Dữ liệu có thể biểu diễn dưới nhiều dạng khác nhau.
        <br>    - Thông tin = Dữ liệu + Xử lí.</p>
    
    <h5 id="title1">2. Tầm quan trọng của thông tin</h5>
    <p>- Thông tin đem lại hiểu biết cho con người. Mọi hoạt động của con người đều cần đến thông tin.</p>
    <p>- Thông tin giúp con người đưa ra những lựa chọn tốt, giúp cho hoạt động của con người đạt hiệu quả.</p>
</body>