<body>
    <h2 id="topic">Chủ đề 1: Máy tính và cộng đồng</h2><br>
    <h3 id="unit">Bài 2: Xử lý thông tin</h3>
    <h5 id="title1">1. Xử lí thông tin</h5>
    <img src="../images/image1.png" alt="" class="img1">
    <p>Các hoạt động cơ bản trong xử lí thông tin bao gồm:</p>
    <ul>
        <li><p>- Thu nhận thông tin;</p></li>
        <li><p>- Lưu trữ thông tin;</p></li>
        <li><p>- Xử lí thông tin;</p></li>
        <li><p>- Truyền thông tin.</p></li>
    </ul>
    <h5 id="title1">2. Xử lí thông tin trong máy tính</h5>
    <img src="../images/image2.png" alt="" class="img1">
    <br><br>
    <p>Máy tính có đủ 4 thành phần thực hiện các hoạt động xử lý thông tin:</p>
    <ul>
        <li><p>- Thiết bị vào để thu nhận thông tin: bàn phím, chuột, máy tính,…</p></li>
        <li><p>- Thiết bị ra để truyền hoặc chia sẻ thông tin: màn hình, máy in, loa,..</p></li>
        <li><p>- Bộ xử lí để xử lí thông tin bằng cách thực hiện chương trình máy tính do con người viết ra.</p></li>
        <li><p>- Bộ nhớ để lưu trữ thông tin: đĩa quang, đĩa từ, thẻ nhớ,...</p></li>
    </ul>
    <br>
    <p>=> Máy tính giúp con người xử lí thông tin hiệu quả, nhanh chóng do nó có thể thực hiện nhanh các lệnh tính toán chính xác, xử lí thông tin, lưu trữ thông tin với dung lượng lớn và hoạt động bền bỉ.</p>
</body>