<body>
    <h2 id="topic">Chủ đề 5: Ứng dụng tin học</h2><br>
    <h3 id="unit">Bài 12: Trình bày thông tin ở dạng bảng</h3>
    <h4 id="title1">1.	Trình bày thông tin dạng bảng </h4>
    
    <p>- Một phiếu khảo sát về sở thích đối với các trò chơi tập thể đã được phát cho học sinh trong lớp. Kết quả trả lời của các phiếu khảo sát được thống kê trong bảng sau: </p>
    <img src="../images/image27.png" alt="" class="img1">
    <p>- Chúng ta có thể sử dụng bảng để trình bày thông tin một cách cô đọng. Bảng cũng thường được sử dụng để ghi lại dữ liệu của công việc thống kê, điều tra, khảo sát,... Từ bảng dữ liệu, em có thể dễ dàng tìm kiếm, so sánh, tổng hợp được thông tin. </p>
    <h4 id="title1">2.	Tạo bảng </h4>
    <p>- Trong phần mềm soạn thảo văn bản, các lệnh tạo bảng nằm trong thẻ Insert ở nhóm lệnh Table. Cách mở cửa sổ Insert Table được thực hiện như Hình 5.12: </p>
    <img src="../images/image28.png" alt="" class="img1">
    <ul>
        <li>+ Di chuyển chuột bắt đầu từ góc trên, bên trái của cửa sổ Insert Table vừa mở ra để chọn số cột, số hàng cho bảng. </li>
        <img src="../images/image29.png" alt="" class="img1">
        <li>+ Sau khi nháy chuột, bảng sẽ được chèn vào vị trí của con trỏ soạn thảo. </li>
        <li>+ Để đưa dữ liệu vào bảng, em đặt con trỏ soạn thảo vào ô và nhập dữ liệu. Ô của bảng có thể chứa tất cả các loại dữ liệu như: văn bản, hình ảnh,... </li>
        <li>+ Để di chuyển con trỏ soạn thảo, em sử dụng các phím mũi tên 1, ,2,... trên bàn. phím hoặc sử dụng chuột. </li>
        <li>+ Căn chỉnh lề cho dữ liệu trong ô cũng tương tự như căn lề cho văn bản.</li>
    </ul>
    <p class="text-italic"><span class="noitce">Lưu ý:</span> Cách tạo bảng như trên chỉ tạo được bảng có tối đa 10 cột, 8 hàng. Nếu muốn tạo bảng có nhiều hàng, cột hơn, em thực hiện như sau: </p>
    <ul>
        <li class="text-italic">- Chọn Insert/Table/Insert Table</li>
        <li class="text-italic">- Nhập số cột, số hàng của bảng. Ví dụ, bảng có 4 cột, 10 hàng. </li>
        <img src="../images/image30.png" alt="" class="img1">
    </ul>
    <h4 id="title1">3.	Chỉnh sửa bảng </h4>
    <p>- Khi em đặt con trỏ soạn thảo trong bảng, nhóm thẻ Table Tools sẽ xuất hiện giúp em định dạng bảng. Để chỉnh sửa bảng, em chọn thẻ Layout. Các nhóm lệnh để chỉnh sửa bảng được chú thích trong Hình 5.16. </p>
    <img src="../images/image31.png" alt="" class="img1">
    <h4 id="title1">4.	Thực hành: Tạo bảng </h4>
    <h4 id="title1">Nhiệm vụ </h4>
    <ul>
        <li>- Tạo bảng danh sách thành viên của lớp như minh hoạ trong Hình 5.11. </li>
        <li>- Nhập dữ liệu gồm: Họ tên, ngày sinh và ảnh của giáo viên chủ nhiệm và từng thành viên trong lớp. </li>
        <li>- Chỉnh sửa, định dạng bảng. </li>
    </ul>
    <h4 class="text-italic">Hướng dẫn: </h4>
    <h4 class="text-italic">a&#41; Tạo bảng</h4>
    <p>- Xác định số cột, số hàng của bảng trong minh hoạ ở Hình 5.11, bảng chứa thông tin của giáo viên chủ nhiệm và các học sinh trong lớp, bảng này gồm 4 cột và 4 hàng. </p>
    <p>- Em có thể ước tính số cột, số hàng của bảng dựa trên số thành viên của lớp. Cũng có thể tạo hai bảng, bảng danh sách giáo viên và bảng danh sách học sinh. Phần hướng dẫn thực hành sau đây tạo bảng 4 hàng 4 cột như minh hoạ trong Hình 5.11 </p>
    <h4 class="text-italic">b&#41; Chỉnh sửa bảng </h4>
    <p>- Ở Hình 5.11, phần chứa thông tin của giáo viên chủ nhiệm được trình bày trong một ô to, được gộp từ 4 ô nhỏ của bảng. Do đó, cần chỉnh sửa lại bảng để tạo một ô to từ các ô nhỏ. </p>
    <p>- Kéo thả chuột để chọn bốn ô của bảng. </p>
    <p>- Trong nhóm thẻ Table Tools, chọn thẻ Layout. </p>
    <p>- Trong nhóm lệnh Merge, chọn Merge Cells. </p>
    <p>- Để chỉnh sửa độ rộng của cột hay độ cao của hàng, di chuyển con trỏ chuột vào đường biên của cột (hay hàng) cần thay đổi cho đến khi con trỏ chuyển thành dạng mũi tên hai chiều thì kéo thả chuột để điều chỉnh. </p>
    <h4 class="text-italic">c&#41; Nhập thông tin </h4>
    <p>- Nhập thông tin của các thành viên vào ô của bảng, thông tin gồm: ảnh, họ tên, ngày sinh. </p>
    <p>- Em có thể bổ sung thêm thông tin khác cho các thành viên như địa chỉ, sở thích,... </p>
    <p>- Em có thể chèn thêm hàng, cột để tạo bảng chứa đầy đủ các thành viên trong lớp.</p>
</body>