<body>
    <h2 id="topic">Chủ đề 5: Ứng dụng tin học</h2><br>
    <h3 id="unit">Bài 13: Thực hành: Tìm kiếm và thay thế</h3>
    <h4 id="title1">1.	Tại sao phải tìm kiếm và thay thế </h4>

    <p>- Trong quá trình soạn thảo văn bản, nhu cầu tìm kiếm một từ hoặc cụm từ, hay thay thế một từ hoặc cụm từ này bằng một từ hoặc cụm từ khác thường xảy ra. Với các văn bản ngắn thì việc tìm kiếm và thay thế dễ dàng và nhanh chóng. Tuy nhiên, với các văn bản dài, hàng trăm trang, thì việc tìm kiếm và thay thế không còn dễ dàng và nhanh chóng nữa. </p>
    <p>- Các phần mềm soạn thảo văn bản có công cụ Tìm kiếm và Thay thế (Find and Replace) để tìm kiếm và thay thế các từ hoặc cụm từ trong văn bản. Công cụ này giúp chúng ta thực hiện tìm kiếm, thay thế nhanh chóng và chính xác, vì vậy tiết kiệm thời gian và quan trọng là không bỏ sót bất cứ từ nào. </p>
    <p><span class="notice text-italic">→ Công cụ Tìm kiếm và Thay thế giúp tìm kiếm, thay thế từ hoặc cụm từ theo yêu cầu một cách nhanh chóng và chính xác. </span></p>

    <h4 id="title1">2.	Sử dụng công cụ tìm kiếm và thay thế </h4>
    <h4 id="title1">Nhiệm vụ: </h4>
    <p>- Nhập nội dung công thức làm kem sữa chua dưa hấu của An và định dạng văn bản như Hình 5.22 rồi lưu lại với tên kemsuachua-duahau.docx.</p>
    <p> - Thực hành tìm kiếm cụm từ “dưa hấu” và thay thế bằng từ “xoài” trong công thức rồi lưu lại tập với tên kemsuachua-xoai.docx. </p>
    <h4 class="text-italic">Hướng dẫn: </h4>
    <ul>
        <li>- Khởi động phần mềm Microsoft Word, nhập nội dung công thức làm kem sữa chua dưa hấu. </li>
        <li>- Thực hiện các thao tác định dạng để có kết quả như Hình 5.22 (xem hướng dẫn cụ thể ở phần thực hành của Bài 11). </li>
        <li>- Lưu lại tệp bằng tên kemsuachua-duahau.docx. </li>
    </ul>
    
    <h4 class="text-italic">a&#41; Tìm kiếm </h4>
    <img src="../images/image32.png" alt="" class="img1">
    <p>Thao tác tìm kiếm được thực hiện theo ba bước sau đây: </p>
    <ul>
        <li>1. Nháy chuột vào thẻ Home </li>
        <li>2. Trong nhóm lệnh Editting chọn Find </li>
        <li>3. Gõ từ, cụm từ cần tìm rồi ấn Enter </li>
    </ul>
    <h4 class="text-italic">b&#41; Thay thế </h4>
    <p>Trong văn bản, thay thế cụm từ “dưa hấu” bằng từ “xoài” được thực hiện theo bốn bước như sau: </p>
    <img src="../images/image33.png" alt="" class="img1">
</body>