<body>
    <h2 id="topic">Chủ đề 6: Giải quyết vấn đề với sự trợ giúp của máy tính</h2><br>
    <h3 id="unit">Bài 15: Thuật toán</h3>
    <h4 id="title1">1. Thuật toán </h4>
    <img src="../images/image37.png" alt="" class="img1">
    <p>- Từ một tờ giấy hình vuông, thực hiện lần lượt sáu bước như hướng dẫn trên, em sẽ có kết quả là hình gấp trò chơi Đông-Tây-Nam-Bắc. Một bạn khác thực hiện đúng các bước đó cũng được kết quả giống em. Khi thực hiện, nếu em bỏ qua một bước hoặc thay đổi thứ tự các bước thì kết quả sẽ khác. Chỉ khi thực hiện đúng trình tự các bước thì em mới nhận được kết quả là hình gấp trò chơi. </p>
    <p>- Hướng dẫn gấp hình trò chơi Đông-Tây-Nam-Bắc gồm sáu bước chính là một thuật toán. Trong thuật toán này, tờ giấy hình vuông được gọi là đầu vào (Input); hình gấp trò chơi Đông-Tây-Nam-Bắc được gọi là đầu ra (Output). Trình tự các bước rất quan trọng. Nếu thực hiện không đúng trình tự sẽ không nhận được kết quả đúng. </p>
    <p>- Trong cuộc sống hằng ngày, nếu để ý em sẽ thấy các thuật toán có ở khắp nơi. Một quy trình để chế biến món ăn là một thuật toán, cách giải một bài toán là một thuật toán, quy trình gấp một chiếc áo là một thuật toán. </p>
    <p><span class="notice text-italic">→ Thuật toán là một dãy các chỉ dẫn rõ ràng, có trình tự sao cho khi thực hiện những chỉ dẫn này người ta giải quyết được vấn đề hoặc nhiệm vụ đã cho. </span></p>
    <h4 id="title1">2.	Mô tả thuật toán </h4>
    <p>- Ngoài cách mô tả thuật toán bằng việc dùng ngôn ngữ tự nhiên để liệt kê các bước, người ta còn mô tả thuật toán bằng cách sử dụng sơ đồ khối. Hướng dẫn cách gấp hình trò chơi Đông-Tây-Nam-Bắc theo các bước ở phần khởi động là mô tả thuật toán ở dạng liệt kê bằng ngôn ngữ tự nhiên. Sơ đồ khối của thuật toán gồm một số hình mô tả các bước và đường có mũi tên để chỉ trình tự thực hiện các bước của thuật toán. </p>
    <h4 id="title1">MÔ TẢ THUẬT TOÁN </h4>
    <p>- Có hai cách để mô tả thuật toán là liệt kê các bước bằng ngôn ngữ tự nhiên và sử dụng sơ đồ khối. </p>
    <div style="display: flex;">
        <img src="../images/image38.png" alt="" class="img1" height="500px">
        <img src="../images/image39.png" alt="" class="img1" height="300px">

    </div>
    <p>- Sơ đồ khối của thuật toán là một sơ đồ gồm các hình mô tả các bước và đường có mùi tên để chỉ thứ tự thực hiện các bước của thuật toán.</p>
</body>