<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hiếu</title>
    <link rel="stylesheet" href="../css/home.css" />
    "
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(() => {
        $("#navContainer").load("./navigation.html");
        $("#footerContainer").load("./footer.html");
      });
    </script>
    <link rel="stylesheet" href="../css/navStyle.css" />
    <link rel="stylesheet" href="../css/FooterStyle.css" />
    <link rel="stylesheet" href="../css/practice.css" />
    <!-- link font-family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Balinese:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- kits use for icon -->
    <script
      src="https://kit.fontawesome.com/1ecb12ccc1.js"
      crossorigin="anonymous"
    ></script>  
  </head>
  <body>
    <div id="navContainer"></div>
    <div id="content">
      <div class="container">
        <div class="topic">
          <h3>Chủ đề 1. Máy tính và cộng đồng</h3>
          <ul>
            <li><a href="https://quizizz.com/join?gc=99896656" target="_blank">Bài 1. Thông tin và dữ liệu</a></li>
            <li><a href="https://quizizz.com/join?gc=67821238" target="_blank">Bài 2. Xử lí thông tin</a></li>
            <li><a href="https://quizizz.com/join?gc=70296288" target="_blank">Bài 3. Thông tin trong máy tính</a></li>
          </ul>
        </div>

        <div class="topic">
          <h3>Chủ đề 2. Mạng máy tính và Internet</h3>
          <ul>
            <li><a href="https://quizizz.com/join?gc=90077526" target="_blank">Bài 4. Mạng máy tính</a></li>
            <li><a href="https://quizizz.com/join?gc=80820041" target="_blank">Bài 5. Internet</a></li>
          </ul>
        </div>

        <div class="topic">
          <h3>Chủ đề 3. Tổ chức lưu trữ, tìm kiếm và trao đổi thông tin</h3>
          <ul>
            <li><a href="https://quizizz.com/join?gc=72180213" target="_blank">Bài 6. Mạng thông tin toàn cầu</a></li>
            <li><a href="https://quizizz.com/join?gc=87614268" target="_blank">Bài 7. Tìm kiếm thông tin trên Internet</a></li>
            <li><a href="https://quizizz.com/join?gc=70949321" target="_blank">Bài 8. Thư điện tử</a></li>
          </ul>
        </div>

        <div class="topic">
          <h3>Chủ đề 4. Đạo đức, pháp luật và văn hoá trong môi trường số</h3>
          <ul>
            <li><a href="https://quizizz.com/join?gc=97498254" target="_blank">Bài 9. An toàn thông tin trên Internet</a></li>
          </ul>
        </div>
        <div class="topic">
          <h3>Chủ đề 5: Ứng dụng tin học</h3>
          <ul>
            <li><a href="https://quizizz.com/join?gc=88858426" target="_blank">Bài 10: Sơ đồ tư duy</a></li>
            <li><a href="https://quizizz.com/join?gc=84539249" target="_blank">Bài 11: Định dạng văn bản</a></li>
            <li><a href="https://quizizz.com/join?gc=96898285" target="_blank">Bài 12: Trình bày thông tin ở dạng bảng</a></li>
            <li><a href="https://quizizz.com/join?gc=78999498" target="_blank">Bài 13: Thực hành: Tìm kiếm và thay thế</a></li>
            <li><a href="https://quizizz.com/join?gc=67272859" target="_blank">Bài 14: Thực hành tổng hợp: Hoàn thiện Sổ lưu niệm</a></li>
          </ul>
        </div>
        <div class="topic">
          <h3>Chủ đề 6: Giải quyết vấn đề với sự trợ giúp của máy tính</h3>
          <ul>
            <li><a href="https://quizizz.com/join?gc=70361144" target="_blank">Bài 15: Thuật toán</a></li>
            <li><a href="https://quizizz.com/join?gc=85180490" target="_blank">Bài 16: Cấu trúc điều khiển</a></li>
            <li><a href="https://quizizz.com/join?gc=80243656" target="_blank">Bài 17: Chương trình máy tính</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footerContainer"></div>
  </body>
</html>
